.marquee-container {
    overflow: hidden;
    width: 100%;
    background-color: #D9D9D9;
    color: #00183C;
    color: #00183C;
    height: 4.5vw;
    position: relative;
  }
  
  .marquee {
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }